@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    /* PROPRIEDADE NOVA  */
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #efefef;
    /* align-items: center; */
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card{
    position: relative;
    border-radius: 25px;
    background-color: #FFF;
}

.card::before{
    content: "";
    position: absolute;
    height: 32%;
    width: 100%;
    background-color: #7d2ae8;
    border-radius: 20px 20px 0 0;
}


.image-content, .card-content{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    padding: 25px 0;
}

.card-image{
    position: relative; 
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background:#7d2ae8;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #FFF;
}

.name-project{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.btn-visitPage{
    font-size: 16px;
    padding: 8px 16px;
    color: #FFF;
    background-color: #4070F4;
    border: none;
    border-radius: 6px;
    margin: 14px; 
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-visitPage:hover{
    background: #265DF2;
}

.media-project{
    position: absolute;
    top: 10px;
    right: 20px;
}

.media-project i{
    opacity: 0.7;
    color: #FFF;
    font-size: 15px;
    transition: all 0.3s ease;
}

.media-project i:hover{
    opacity: 1;
    font-size: 20px;
}

.swiper-navBtn{
    color: #6E93F7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: #4070F4;
}

.swiper-pagination-bullet{
    background-color: #6E93F7;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background: #4070F4;
}