/* TELAS CELULARES */

@media screen and (min-width:0) { 
    /* CABEÇALHO */
    .cabecalho{
        display: flex;
        justify-content:space-between;
    }

    .btnabrirmenu{
        margin-left:1em
    }

    /* CARD */
    .card__lateral{
        width: 92vw;
    }

    .principal{
        display: block;
    }
 
    .textos{
        padding-left: 0;
    } 

    
    .card{
        margin-bottom: 2em;
    }

    /* CONTAINER CARD */
    .container1 {
        background-color: #20202a;
        height: auto;
        margin-top: 5px 0 0;
        padding: 2em 0;
    }
    /* MAIN */

    .paragrafos{
        margin: 2em
    }

    .allcard__projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2em;
    }
}


/* TELAS DE TABLETS */

@media screen and (min-width: 768px){
    /* CARD */

    .card__lateral{
        width: 45vw;
    }

    .container1{
        padding: 3em 0;;
    }

    .allcard__projetos {
        display: flex;
        align-items: stretch;
        padding-top: 2em;
        flex-direction: row;
    }

    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }    
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    } 

    .allcard__projetos{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: stretch;
    }
}

/* TELAS NOTEBOOK (PEQUENOS)*/

@media screen and (min-width: 992px) {
    .cabecalho {
        display: flex;
        justify-content: end;
    }

    .card__lateral{
        width: 35vw;
    }
    .btnabrirmenu{
        display: none;
    }
    .btnclose{
        display: none;
    }
    
    .textos{
        padding-left: 23em;
    }

    .allcard__projetos{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: stretch;
    }
    
}

/* NOVOS NOTEBOOKS; COMPUTADORES E TVS */

@media screen and (min-width:1200px) {
    /* CABEÇALHO PRINCIPAL */
    .btnabrirmenu{
        display: none;
    }
    .btnclose{
        display: none;
    }
    
    .cabecalho {
        display: flex;
        justify-content: end;
    }

    /* CARD - CONTAINER*/
    .card__lateral{
        width: 27vw;
    }

    .container1 {
        background-color: #20202a;
        height: auto;
        margin-top: 5px 0 0;
        padding: 2em 0;
    }
    /* MAIN */
    .principal{
        display: flex;
    }


    .textos{
        padding-left: 25em;
    }

}