
*{
    font-family: 'Anek Telugu', sans-serif;
}    

    

/* HEADER */
.cabecalho{
    background-color: #15191C;
    /* box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 16); */
    padding: 4vh 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16); 
}    

.btnabrirmenu{
    color: #8c8c8e;;
    font-size: 30px;
    font-weight: bold;
    float: right;
    border: none;
    background: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin-left: 2em;
    left: 0;
}

.btnabrirmenu:hover{
    color: #ffffff;
    font-weight: bold;
}

.cabecalho__logo {
    width: 50px;
    height: 50px;
    margin-right: 2em;
}    

/* MAIN */

/* AREA DE VISUALIZAÇÃO */
.textos{
    transition: 0.5s;
}
/* 
.textos--cardAberto{
    padding-left: 30em;
    transition: 0.5s;
} */

/* SOBRE MIM */
.principal{
    margin-top: 2em ;
    background-color: #ffffff;
    display: flex;
}    

.paragrafos{
    margin: 4em;
}    

.titulos__textos{
    font-weight: bold;
    font-size: 20px;
}  



/* FORMAÇÃO ACADÊMICA */

body{margin-top:20px;}
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}    

.row{
    padding-top: 3em;
}    

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}    
  

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}    

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}    

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}    

/* ======================== */



.card-body__projetos{
    background-color: #ffffff;
    color: #000000;
    font-weight: 900;
    text-align: center;
}    

.card-title__projetos{
    text-align: center;
    font-weight: 900;
    margin: 15px 0;
}    

.btn-primary{
    margin: 15px 0;
}    



/* ============================================================================ */
/* CARD LATERAL */





/* IMAGEM PERFIL DO CARD LATERAL*/



.card__lateral::-webkit-scrollbar{
    display: none;
}    


/* BOTÃO FECHAR MENU */
.cabecalho__btn{
    padding: 0 2em 0 0;
}    


.btnclose {    
    color: #8c8c8e;;
    font-size: 30px;
    font-weight: bold;
    float: right;
    border: none;
    background: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    left: 0;
}

.btnclose:hover{
    color: #ff0000;
    font-weight: bold;
}


.card__lateral{
    background: linear-gradient(159deg, #252532 0%, #23232d 100%);;
    font-family: 'Anek Telugu', sans-serif;
    border-radius: 0;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    z-index: 1;
    top: 0; 
    overflow-x: hidden; 
    padding-top: 20px; 
    left: -100vw;
    width: 25vw;
    transition: .25s;
}

.card__lateral--ativo{
    left: 0;
    transition: .25s;
}

.img__cabecalho {
    width: 102px;
    height: 138px;
    color: #ffffff;
    padding: 2em 0 1em;
}

.card__nome{
    font-size: 20px;
}

.meu__nome{
    font-size: 25px;
    color: #ffffff;
}

.card__cargos{
    font-size: 20px;
    font-weight: bold;
    color: #000000;

}
.card__meuscargos{
    padding: 1em;
}

.card__cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    line-height: 1.0;
    width: 100%;
}


.card__texto{
    text-align: center;
}


.card__cabecalho p{
    text-align: center;
    padding: 2em;
}

.titulos__informacoes{
    font-size: 16px;
}


/* Container: Card 1 */



.container1{
    background-color: #20202a;
    height: auto;
    margin-top: 5px 0 0;
    padding: 2em;
}

.container p{
    text-align: center;
}

.card__nome{
    font-weight: bold;
}

/* PÁIS */
.pais{
    display: flex;
    justify-content: space-between;
    padding: 12px 0 5px ;
    margin: 0 50px;

}

.pais h2{
    font-weight: bold;
    color: #ffffff;
}

.pais h3{
    font-weight: bold;
    color: #ffffff;
}

/* CIDADE */

.cidade{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 50px;
}

.cidade h2{
    font-weight: bold;
    color: #ffffff;
}

.cidade h3{
    font-weight: bold;
    color: #ffffff;
}

/* IDADE */

.anos{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 50px;
}

.anos h2{
    font-weight: bold;
    color: #ffffff;
}

.anos h3{
    font-weight: bold;
    color: #ffffff;
}

.linha{
    background: #000000;
    width: 80%;
    height: 2px;
    opacity: 0.3;
    margin-left: 32px;
}

/* CIRCULOS PROGRESSO IDIOMAS */

.progressolinguas{
    padding: 2em 0 ;
    display: flex;
    justify-content: space-around;
}

.idioma{
    font-weight: bold;
    color: #ffffff;
    font-size: 15px;
    padding: 1em 0 0;
}

.circulos{
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 8%;
    display: grid;
    place-items: center;
}

.circular__progress{
    position: relative;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular__progress::before{
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff ;
    border-radius: 50%;
}

.value__circulo{ 
    position: relative;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #231c3d;
}


.circulo__espanhol{
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 8%;
    display: grid;
    place-items: center;
}
 
.circulo__progressespanhol{
    position: relative;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.circulo__progressespanhol::before{
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff ;
    border-radius: 50%;
}

.value__circuloespanhol{
    position: relative;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

/* LINGUAGENS DE PROGRAMAÇÃO */
/* HTML */
.barra__total{
    padding: 1em;
    display: grid;
    justify-items: center;
    
}

.linguagens{
    color: #ffffff;
}

.textos__barra{
    display: flex;
    justify-content: space-between;
}

.valor{
    color: #ffffff;
}

.barra{
   background-color: #cadcff;
   height: 10px;
   width: 300px; 
   position: relative;
}

.barra-progresso{
    background-color: #4d5bf9;
    height: 10px;
    width: 70%;
    animation: progress-animation 1s forwards;
}


@keyframes progress-animation {
    0% {width: 0%;}
    /* 50% {width: 50%;}   */
} 

/* BARRA 2 : CSS */

.valor__2{
    color: #ffffff;
}


.barra-progresso__CSS{
    background-color: #4d5bf9;
    height: 10px;
    width: 75%;
    animation: progress-animation 1s forwards;
}

@keyframes progress-animation {
    0% {width: 0%;}
    /* 50% {width: 50%;}   */
} 

/* BARRA 3 JS */

.valor__3{
    color: #ffffff; 
}

.barra-progresso__JS{
    background-color: #4d5bf9;
    height: 10px;
    width: 20%;
    animation: progress-animation 1s forwards;
}

@keyframes progress-animation {
    0% {width: 0%;}
    /* 50% {width: 50%;}   */
} 

/* BARRA 4: PHP */

.valor__4{
    color: #ffffff;
}


.barra-progresso__PHP{
    background-color: #4d5bf9;
    height: 10px;
    width: 10%;
    animation: progress-animation 1s forwards;
}

@keyframes progress-animation {
    0% {width: 0%;}
    /* 50% {width: 50%;}   */
} 

/* CONHECIMENTOS */

.conhecimentos__programas{
    margin: 2em;
    display: flex;
    align-items: stretch;
}

.texto__versionamento{
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 12px 1px;
}

/* DONWLOAD */

.parteupload{
    margin: 2em 2em 0;
}

.upload__botao{
    text-decoration: none;
    color: #8c8c8e;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.upload__botao:hover{
    color: #ffffff;
    font-weight: bold;
}

/* RODAPÉ DO CARD */
/* .rodapecard{
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
} */

.rodapecard__redessociais{
    display: flex;
    padding: 30px 0  0;
    margin: 15px 0;
    justify-content: center;
}

.redes{
    margin: 0 20px;
    text-decoration: none; 
    color: #ffffff;
    font-weight: bold;
    color: #8c8c8e;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    
}

.logo1{
    animation: float1 5s ease-in-out infinite;
    transform: translateY(0)
}

.logo2{
    animation: float2 5s ease-in-out infinite;
    transform: translateY(0)
}

/* PSEUDO ELEMENTO */
.redes:hover{
    font-weight: bold;
    color: #ffffff;
}

@keyframes float1{
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes float2{
    0%{
        transform: translateY(-10px)
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}


/* FOOTER  */

footer{
    background-color: #15191C;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 16);
    padding: 4vh 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

